<table class="full-width">
    <tr>
        <td>
            <mat-form-field class="full-width">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="form.category">
                    @for (item of Category | keyvalue; track $index) {
                        <mat-option [value]="item.value">{{item.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize class="full-width" [(ngModel)]="form.description"></textarea>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <button mat-button (click)="formSaved.emit()">Save</button>
        </td>
    </tr>
</table>